.AddCoupon {
}

.AddCoupon form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.AddCoupon input[type="text"],
input[type="number"],
input[type="double"],
input[type="date"] {
    width: 200px;
    height: 25px;
}

.AddCoupon button {
    width: 100%;
    height: 25px;
    margin: 5px;
    background-color: #1c3c5c;
    color: white;
    border: none;
    font-size: medium;
}
.AddCoupon button:hover {
    color: black;
}
.AddCoupon button:disabled {
    cursor: not-allowed;
    color: black;
}

.AddCoupon span {
    color: red;
    font-weight: 700;
}